default:
    suites:
        app_suite:
            type: symfony_bundle
            bundle: ChapleanCmsBundle
    extensions:
        Behat\Symfony2Extension:
            kernel:
                env: behat
                path: vendor/chaplean/unit-bundle/Chaplean/Bundle/UnitBundle/BehatKernel.php
                class: BehatKernel
        Behat\MinkExtension:
            base_url: http://localhost:8080/app_test.php/
            browser_name: Firefox
            show_cmd: firefox %s
            sessions:
                default:
                    selenium2:
                        browser: firefox
