parameters:
    database_driver: pdo_mysql
    database_host: mysql
    database_port: 3306
    database_name: test_database
    database_user: root
    database_password: root

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null

    locale: fr
    secret: ThatsChapleanBundleNameBun2le

    use_assetic_controller: false
    use_assetic_debug: true
    sass.bin: /usr/local/bin/sass
    ruby.bin: /usr/bin/ruby
    compass.bin: /usr/local/bin/compass

    chaplean_user.entity.user.class: Chaplean\Bundle\UserBundle\Entity\DummyUser

    data_fixtures_namespace: Chaplean\Bundle\UserBundle\
