parameters:
    locale: fr
    secret: Pl3as3Chang3Th1sS3cr3tT0k3n
    database_password: test
    use_assetic_controller: false
    use_assetic_debug: true
    sass.bin: /usr/local/bin/sass
    ruby.bin: /usr/bin/ruby
    compass.bin: /usr/local/bin/compass
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    chaplean_user.entity.user.class: Chaplean\Bundle\UserBundle\Entity\DummyUser
